<%= javascript_include_tag "alerts" %>

<header class='admin'>
    <nav>
        <%= link_to image_tag("img1.png"),root_path %>
        <h1> <%=link_to "ToDo App", root_path%> </h1>
        <ul class=" right">
            <%if session[:user_id]%>
                <li> 
                    <%= link_to current_user.name,current_user,class:"user_name"%>
                </li>
                <li> 
                    <%= button_to "Sign Out",session_url,method: :delete ,form_class: "button_to" ,class:"signout_button"%>
                </li>
            <%end%>
            <%unless session[:user_id]%>
                <div class="header_button">
                    <%= link_to "Login",root_path,class:"login_link  label" %>
                    <%= link_to "Sign up",root_path,class:"signup_link  label" %>
                </div>
            <%end%>
    </ul>
    </nav>
</header>

